.chat-bubble {
    background-color: #a659c8;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 70px;
    z-index: 9999;
    transition: right 0.3s ease;
}


.chat-card {
    height: 350px;
    width: 450px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.send {
    color: #fff;
    background-color: #a659c8;
}

.bg-custom {
    background-color: #a659c8;
}