.contact-container {
    max-height: fit-content;
    margin-left: 35rem;

}

.contactbottom {
    width: 1290px;
    margin-top: -150px;
    margin-left: 90px;
    margin-bottom: -700px;
    border-radius: 20px;

}