/*---------------FOOTER-----------------------------*/
.footer {
  position: relative;
  bottom: -550px;
  width: 100%;
  text-align: center;
  font-family: "Noto Serif Hebrew", serif;
  color: #a659c8;
}

.container-footer {
  position: relative;
  bottom: -270px;
  width: 100%;
  font-family: "Noto Serif Hebrew", serif;
  /* add some padding to create spacing */
  margin-left: 50px;
}

#about-footer,
#how-footer,
#services-footer,
#terms-footer,
#privacy-footer,
#team-footer,
#contact-footer {
  margin-left: 60px;
  margin-right: 10px;
  font-family: "Noto Serif Hebrew", serif;
  font-size: 15px;
  outline: none;
}

.social {
  margin-top: 20px;
  align-items: center;
  margin-left: -30px;
}

.instagram {
  height: 35px;
  width: 35px;
  margin-left: 585px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.facebook {
  height: 50px;
  width: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.twitter {
  height: 30px;
  width: 35px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}