/*----------------HOW IT WORKS----------------*/

.container-how {
  width: 1290px;
  max-height: fit-content;
}

.card-how {
  border-top: 1px solid #a659c8;
  margin-top: 40px;
  margin-left: 200px;
}

.card-body-how {
  margin-top: 50px;
  margin-left: 400px;
  width: 700px;
}

.bottom-how {
  border-bottom: #a659c8 1px solid;
  margin-left: 200px;
  margin-top: 90px;

}

.howimg {
  width: 650px;
  height: 350px;
  margin-top: 20px;
  margin-left: 420px;
  border-radius: 15px;
}

.card-title-how {
  font-family: "Noto Serif Hebrew", serif;
  color: #a659c8;
  font-size: 35px;
  text-align: center;
}

.card-text-how {
  font-family: "Noto Serif Hebrew", serif;
  text-align: center;
  border-radius: 10px;
}

.step {
  width: 830px;
  height: 850px;
  margin-top: 80px;
  margin-left: 310px;
  border-radius: 30px;
  margin-bottom: -500px;
}

.how-buttons {
  font-family: "Noto Serif Hebrew", serif;
  color: #a659c8;
  font-size: 20px;
  margin-bottom: 20px;
}