/*-----------------TEAM--------------*/
.border-team {
  margin-top: 60px;
  margin-left: 15rem;
  margin-bottom: 60px;
  border-top: 1px solid #a659c8;
  width: 70%;
}

.workforce-container {
  max-height: 600px;
}

.team-title {
  font-family: "Noto Serif Hebrew", serif;
  color: #a659c8;
  text-align: center;
}

.team-img {
  width: 1290px;
  margin-top: 200px;
  margin-left: 90px;
  border-radius: 20px;
}

.workforce {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  border: none;
  transition: all 0.3s ease-in-out;

}

.workforce:hover {
  transform: scale(1.1);
  opacity: 0.5;

}